<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{deploy.name}}">
  <ion-content class="padding">
      <p>
        <button class="button button-full button-positive" onClick ="scanBarcode()">Scan Asset QR-Code</button>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Asset Identifier</span>
                <p id="asset" ng-model="input.asset"></p>
            </label>
            <label class="item item-input">
                <span class="input-label">Date</span>
                <input type="datetime-local" ng-model="input.date" required/>
            </label>
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" id="ItemName" ng-model="input.name" required/>
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" id="ItemName" ng-model="input.email" required/>
              </label>
              <label class="item item-input">
                  <span class="input-label">Assistant Initials</span>
                  <input type="text" id="a_initial" ng-model="input.ai" required/>
              </label>
          </div>
      <button ng-click="saveData()" class="button button-full button-assertive">
           button-assertive
        </button>
        <button ng-click="getAllData()" class="button button-assertive">
            Get The Shit
        </button>
        <ion-list>

            <ion-item ng-repeat="item in getAllData()" class="item-remove-animate">
                Item {{ item[0].email }}
                <ion-delete-button class="ion-minus-circled">
                </ion-delete-button>
                <ion-option-button class="button-assertive">
                    Edit
                </ion-option-button>
                <ion-option-button class="button-positive">
                    Del
                </ion-option-button>
                <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>

        </ion-list>

    </p>
  </ion-content>
</ion-view>
