<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Pool Hall">
  <ion-content class="padding">
      <p>
        <button class="button button-full button-positive" ng-click="scanBarcode()">Scan Asset QR-Code</button>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Asset Identifier</span>
                <p id="asset" ng-model="input.asset"></p>
            </label>
            <label class="item item-input">
                <span class="input-label">Date</span>
                <input type="datetime-local" ng-model="input.date" required/>
            </label>
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" ng-model="input.name" required/>
            </label>
            <label class="item item-input">
                <span class="input-label">Wentworth ID#</span>
                <input type="text" placeholder="W00######" ng-model="input.witid" required/>
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" ng-model="input.email" required/>
              </label>
              <label class="item item-input">
                  <span class="input-label">Assistant Initials</span>
                  <input type="text" id="a_initial" ng-model="input.ai" required/>
              </label>
          </div>
          <button ng-click="saveData()" class="button button-full button-assertive">
              Submit
          </button>

    </p>
  </ion-content>
</ion-view>
