<ion-view view-title="Room Count">
  <ion-content>
          <label class="item item-input">
              <span class="input-label">Date</span>
              <input type="datetime-local" ng-model="input.date" required/>
          </label>
          <div class="item item-divider">Room Attendance</div>
              <div class="item item-button-right">
                <span class="input-label" style="display:inline-block;">8-035</span>
                <input type="number" min="0" max="100" value="0" id="attendance"  ng-model="input.r8035"/>
              </div>
              <div class="item item-button-right">
                <span class="input-label" style="display:inline-block;">034</span>
                <input type="number" min="0" max="100" value="0" id="attendance"  ng-model="input.r034"/>
              </div>
          <label class="item item-input">
            <span class="input-label">Manager Initials</span>
                <input type="text" maxlength="2" style="text-transform: uppercase" id="a_initial" ng-model="input.mi"/>
          </label>
      </div>
      <button ng-click="saveData()" class="button button-full button-assertive">
          Submit
      </button>
  </ion-content>
</ion-view>
