<ion-view view-title="HubBuddy">
  <ion-content>
  <img src="img/building.jpg" id="building"/>
  <div class="text" id="hometxt">
    <p style="font-size:24px;">Greetings Flangan Info Hub Staff,</p><br>
      <img src="img/witlogo.png" id="logo"/>
      <p>Meet your new buddy!  HubBuddy aims to ease jobs at the Flanagan Campus Center Info Hub.
        HubBuddy will allow staff members to track room counts, check upcoming
        event information, and track loaner deployment records. The recorded information logs
        can also be sent to the main office all at once.  </p>
      <p>Please use the <b>Deployment</b> button below to deploy loaner equipment.</p>
  </div>
</ion-content>
</ion-view>
