<ion-view view-title="Room Count Log">
    <ion-content class="padding">
      <div class="container">
        <div class="row">
          <div class="check-div">
              <table class="table" id="DEPLOYLOG">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Room Number</th>
                  <th>Amount of People</th>
                  <th>M.I.</th>
                </tr>
              </thead>
              <tbody id="tbody">
              </tbody>
            </table><br>
            <p style="color:gray;">M.I. = Initals of manager that is performing room count.</p>
          </div>
        </div>
      </div>
      <a href="https://hubbuddydb.firebaseio.com/RoomCount" class="button button-full button-assertive">
          Submit
      </a>
      </ion-content>
</ion-view>
