<ion-view view-title="Deployments">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="deploy in Deployments" type="item-text-wrap" href="#/tab/Deployments/{{deploy.id}}">
        <img ng-src="{{deploy.icon}}">
        <h2>{{deploy.name}}</h2>
        <p>{{deploy.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(deploy)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
