<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-home" icon-on="ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Deployments Tab -->
  <ion-tab title="Deployments" icon-off="ion-jet" icon-on="ion-jet" href="#/tab/Deployments">
    <ion-nav-view name="tab-Deployments"></ion-nav-view>
  </ion-tab>

  <!-- Room-Count Tab -->
  <ion-tab title="Room Count" icon-off="ion-android-checkbox-outline" icon-on="ion-android-checkbox-outline" href="#/tab/roomcount">
    <ion-nav-view name="tab-roomcount"></ion-nav-view>
  </ion-tab>

  <!-- Records Tab -->
  <ion-tab title="Records" icon-off="ion-ios-briefcase" icon-on="ion-ios-briefcase" href="#/tab/records">
    <ion-nav-view name="tab-records"></ion-nav-view>
  </ion-tab>

</ion-tabs>
